body {
  padding-top: 70px;
}
.portfolioHeader {
	padding-top:30px;
	padding-bottom:30px;
	background-image:url('http://www.fried-line.com/images/headerbgpic.jpg');
	background-repeat:no-repeat;
	background-position:center;
}
a.headerLink {
	text-decoration:none;
}
#headerPanel {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
#portfolioDescription {
	padding:20px;
}
